/vendor/
/node_modules/
.env
.env.backup
.env.production
/public/storage
/public/hot
/storage/*.key
/storage/app/public/
/storage/framework/
/storage/logs/
bootstrap/cache/*.php
*.log
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
composer.phar
/auth.json
.phpunit.result.cache
.phpunit.cache/
*.bat
DEPLOY_QOLLANMA.txt
.env.production_NAMUNA
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
